{% extends "weather/base.html" %}
{% load static %}
{% block title%}
  About
{%endblock%}
{% block content %}
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container">
    <a href="/" class="navbar-brand">Django Weather App</a>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a href="/" class="nav-link">Home</a>
        </li>
        <li class="nav-item active">
          <a href="/about" class="nav-link">About</a>
        </li>
        <li class="nav-item">
          <a href="/contact" class="nav-link">Contact</a>
        </li>
        {% if request.user.is_authenticated %}
        <li class="nav-item">
          <a href="/account" class="nav-link">My Account</a>
        </li>
        <li class="nav-item">
          <a href="/logout" class="nav-link">Logout</a>
        {% else %}
        <li class="nav-item">
          <a href="/login" class="nav-link">Login</a>
        </li>
        <li class="nav-item">
          <a href="/signup" class="nav-link">Signup</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>

<header id="page-header">
 <div class="container">
   <div class="row mt-5" style ="font-family:Montserrat">
     <div class="col-md-6 m-auto font-weight-bold text-center">
       <h1 class="display-4">About</h1>
       <h3>Want to know about the app ?</h3>
     </div>
   </div>
 </div>
</header>

<section id="about" class="py-5" style="font-family:Lora;font-size:1rem;">
  <div class="container">
    <div class="row mt-3">
      <div class="col-md-6">
        <p style="text-align: justify;">It is a simple weather app created in django using python requests. Just enter the city name and get detailed info of its weather. The project is open source and pull requests are welcome.<a class="ml-2 btn-sm btn btn-outline-success" target="_blank" href="https://github.com/Rushikesh1008/Weather_App_Django">View Source</a></p>
                              <p style="text-align: justify;">The app features minimal and flat design. All it takes is just a minute to get the weather info.</p>
                              <p style="text-align: justify;">Also you can get 7-day weather forecast just a click away.</p>
                              <p style="text-align: justify;">It includes full HTML, CSS, and custom JavaScript files for easy customization and Python's Django Framework as its backend for fast and secure experience.</p>

      </div>
      <div class="col-md-6">
        <img src="{% static "img/icon2.jpg" %}" alt="" class="img-fluid rounded-circle d-none d-md-block about-img">
      </div>
    </div>
  </div>
</section>

{% endblock %}
