{% extends "weather/base.html" %}
{% load static %}
{% block title%}
  Contact
{%endblock%}
{% block content %}
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container">
    <a href="/" class="navbar-brand">Django Weather App</a>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a href="/" class="nav-link">Home</a>
        </li>
        <li class="nav-item">
          <a href="/about" class="nav-link">About</a>
        </li>
        <li class="nav-item active">
          <a href="/contact" class="nav-link">Contact</a>
        </li>
        {% if request.user.is_authenticated %}
        <li class="nav-item">
          <a href="/account" class="nav-link">My Account</a>
        </li>
        <li class="nav-item">
          <a href="/logout" class="nav-link">Logout</a>
        {% else %}
        <li class="nav-item">
          <a href="/login" class="nav-link">Login</a>
        </li>
        <li class="nav-item">
          <a href="/signup" class="nav-link">Signup</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>

<header id="page-header">
 <div class="container">
   <div class="row mt-5" style ="font-family:Montserrat">
     <div class="col-md-6 m-auto text-center">
       <h1 class="font-weight-bold">CONTACT ME</h1>
       <h3 class="lead">Want to provide some suggestions for new features, or just say hello ?</h3>
       <a class="btn my-2 btn-outline-light" style="font-familly:Montserrat" href="mailto:rushidamail@gmail.com" type="button" name="button"><i class="fa fa-envelope mx-2"></i>Email Me</a>
     </div>
   </div>
 </div>
</header>

<section id="contact" class="py-3">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="card p-4">
          <div class="card-body text-center" style = "font-family:Montserrat;">
            <h3 class="font-weight-bold my-2">Follow Me</h3>
            <a class="btn btn-outline-dark my-2 mx-3" target="_blank" href="https://twitter.com/RShendare"><i class="fa fa-twitter mx-2"></i>TWITTER</a>
            <a class="btn btn-outline-dark my-2" target="_blank" href="https://github.com/Rushikesh1008"><i class="fa fa-github mx-2"></i>GITHUB</a>
            <a class="btn btn-outline-dark my-2" target="_blank" href="https://www.linkedin.com/in/rushikesh-shendare-461875134/"><i class="fa fa-linkedin mx-2"></i>LINKEDIN</a>
            <a class="btn btn-outline-dark my-2" target="_blank" href="https://www.facebook.com/rushikesh.shendare"><i class="fa fa-facebook mx-2"></i>FACEBOOK</a>
            <a class="btn btn-outline-dark my-2" target="_blank" href="https://www.instagram.com/rushii_10/"><i class="fa fa-instagram mx-2"></i>INSTAGRAM</a>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="card p-4">
          <div class="card-body">
            <form method="post">
              {% csrf_token %}
            <h3 class="text-center">Please fill out this form to contact me</h3>
            <hr>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  {{form.first_name}}
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  {{form.last_name}}
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  {{form.email}}
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  {{form.phone}}
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  {{form.message}}
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <input type="submit" value="Submit" class="btn btn-outline-danger btn-block">
                </div>
              </div>
            </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
