<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Django Weather App</title>
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
  </head>
  <body>
    <div class="container text-center">
    <h1 class="display-4 mb-4">Hey! This is my weather App.</h1>
    <form class="form-group" method="post">
      {% csrf_token %}
      {{form.name}}
      <button class="btn btn-primary" type="submit" name="button">Add City</button>
    </form>
    <a class="btn btn-danger" href="reset/">Reset</a>
    {% for city_weather in weather_data %}
      <h2>Today's weather in {{city_weather.city}}</h2>
      <p>Temperature : {{city_weather.temperature}}</p>
      <p>Description : {{city_weather.description}}</p>
      <p>Icon : {{city_weather.icon}}</p>
      <br>
    {% endfor %}
    </div>
  </body>
</html>
